@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E50914;
  --dark: #141414;
  --grey: #808080;
  --light: #e5e5e5;
}

body {
  background: var(--dark);
  color: white;
  font-family: 'Barlow', sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
